<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.fakewechat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".SingleTalkActivity" >
        </activity>
        <activity android:name=".PeopleActivity" />
        <activity android:name=".edit" />
        <activity android:name=".EditModeActivity" />
        <activity android:name=".EditQian" />
        <activity android:name=".LingQian">
        </activity>
        <activity android:name=".AddPersonActivity">
        </activity>
        <activity android:name=".Edit_ZZ"></activity>
        <activity android:name=".ZZ"></activity>
    </application>

</manifest>